* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  position: relative;
  border-top: 0.5em solid #666;
  border-right: 0.5em solid #666;
  border-bottom: 0.5em solid #666;
  border-left: 0.5em solid #ccc;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.book-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.book-page-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin-top: 2rem;
}

.book-page-image {
  max-width: 250px;
  margin-right: 2rem;
}

.book-page-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-page-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.book-page-author {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.book-page-price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.book-page-button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #6c5ce7;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.book-page-button:hover {
  background-color: #4834d4;
}
